@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Bricolage Grotesque', sans-serif;
    @apply text-purple-dark;
    @apply bg-cat-purple;
}